@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&subset=cyrillic');

@font-face {
  font-family: 'Conv_ofics_b';
  src: url('../font/ofics_b.eot');
  src: local('☺'), url('../font/ofics_b.woff') format('woff'), 
  url('../font/ofics_b.ttf') format('truetype'), 
  url('../font/ofics_b.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  background: #fff;
  color: #333;
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto; 
}

/*.container-large {
  width: 1200px;
  padding: 0 10px;
}*/

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; 
}

.container:after, ul:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; 
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-weight: normal;
  font-family: 'Conv_ofics_b';
}

a {
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; 
}

img {
  max-width: 100%;
  vertical-align: top; 
}


section h2 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 52px;
}

/*====================================
              section
====================================*/
section {
  min-width: 900px;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto; 
}

.b-section {
  padding: 40px 0;
}

/*====================================
            request
====================================*/

.b-request {
  min-height: 693px;
  position: relative;
  padding: 98px 0 0;
  background: #f3fbff;
}

  .b-request:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../img/feedback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1004px;
    height: 693px;
  }

  .b-request__inner {
    width: 44%;
  }

  .b-request h3 {
    padding-bottom: 25px;
    font-size: 26px;
    position: relative;
    z-index: 1;
  }

  .b-request h3:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #2196f3;
  }

  .b-request__content {
    margin-top: 25px;
    position: relative;
    z-index: 1;
  }

  .b-request__form {
    margin-top: 19px;
  }

  .request-form {
    position: relative;
    z-index: 1;
  }

    .request-form__item {
      margin-bottom: 18px;
      position: relative;
    }

    .request-form__item:before {
      content: '';
      display: block;
      position: absolute;
      width: 21px;
      height: 22px;
      left: 1px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-size: cover;
    }

    .request-form-icon-addr:before {
      background: url(../img/icon-form-website.svg) no-repeat;
    }

    .request-form-icon-phone:before {
      background: url(../img/icon-form-phone.svg) no-repeat;
    }

    .request-form__input {
      width: 100%;
      height: 48px;
      padding-left: 35px;
      border: 0;
      background: transparent;
      border-bottom: 1px solid #d8d8d8;
      color: #212121;
      outline: none;
    }

      .request-form__input:focus {
        border-bottom-color: #127dd1;
      }

    .request-form__privacy {
      margin-top: 31px;
      position: relative;
    }

      .privacy__input {
        visibility: hidden;
        height: 0;
        width: 0;
      }

      .privacy__label {
        padding-left: 35px;
        position: relative;
        cursor: pointer;
        letter-spacing: -1px;
      }

        .privacy__label:before {
          content: '';
          border: solid 2px #838383;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          left: 0;
          position: absolute;
        }

        .privacy__label:after {
          content: '';
          width: 10px;
          height: 6.5px;
          position: absolute;
          top: 6px;
          left: 6px;
          border-top: none;
          border-right: none;
          background: transparent;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        .privacy__input:checked + label:after {
          border-left: 2px solid #838383;
          border-bottom: 2px solid #838383;
        }

      .request-form__privacy-link {
        color: #838383;
        letter-spacing: -0.7px;
      }

      .request-form__privacy-link:hover {
        text-decoration: none;
      }

    .request-form__submit {
      margin-top: 48px;
      width: 360px;
      height: 60px;
      color: #333;
      background-color: #ffa81c;
      text-transform: uppercase;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
      border: none;
      cursor: pointer;
      border-radius: 30px;
    }

      .request-form__submit:hover {
        color: #ffa81c;
        background-color: #333;
      }

/*====================================
            intro-text
====================================*/
.b-intro-text {
  background-color: #fff;
}

  .b-intro-text__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .b-intro-text__img {
      width: 50%;
    }

    .b-intro-text__content {
      width: 48.8%;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
    }

      .b-intro-text__content h3 {
        margin-bottom: 25px;
        font-size: 22px;
        letter-spacing: 0.2px;
      }

      .b-intro-text__content p {
        margin: 0 0 29px 0;
        letter-spacing: -0.7px;
      }

/*====================================
            economy
====================================*/
.b-economy {
  background-color: #f3fbff;
}

  .b-economy h3 {
    font-size: 32px;
    text-align: center;
  }
  
  .economy-list {
    margin-top: 53px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .economy-list__column {
      width: 33%;
    }

    .economy-list__column_img {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

      .economy-list__item {
        text-align: center;
        margin-bottom: 60px;
      }

      .economy-list__item:last-child {
        margin-bottom: 0;
      }

        .economy-list__title {
          font-size: 18px;
          font-weight: bold;
        }

        .economy-list__text {
          margin-top: 15px;
          line-height: 1.4;
          font-size: 18px;
        }

/*====================================
            servises
====================================*/
.b-servises {}

  .b-servises-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .b-servises-tabs__wrapper {
      width: 60%;
    }

      .b-servises-tabs__box {
        display: none;
      }

      .b-servises-tabs__box_active {
        display: block;
      }

        .b-servises-tabs__box h3 {
          padding-top: 20px;
          position: relative;
          font-size: 32px;
        }

        .b-servises-tabs__box h3:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 35px;
          height: 4px;
          background-color: #ff2f00;
        }

        .b-servises-tabs__box-content {
          margin-top: 30px;
        }

    .b-servises-tabs__nav {
      margin-top: 90px;
      width: 35%;
      padding-left: 5%;
    }

      .b-servises-tabs__nav-item {
        margin-bottom: 10px;
        padding-left: 30px;
        position: relative;
        cursor: pointer;
        counter-increment: nav-item;
        font-weight: bold;
      }

      .b-servises-tabs__nav-item:before {
        content: '0'counter(nav-item);
        position: absolute;
        left: 0;
        top: -2px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        background: transparent;
        text-align: center;
        line-height: 1.7;
        font-size: 14px;
      }

      .b-servises-tabs__nav-item_active {
        color: #ff2f00;
      }

        .b-servises-tabs__nav-item_active:before {
          color: #fff;
          background-color: #ffa81c;
        }

      .b-servises-tabs__nav-item:hover {
        color: #ffa81c;
      }

/*====================================
            audit
====================================*/
.b-audit {
  height: 369px;
  background-image: url(../img/more_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  padding: 0;
}

  .b-audit .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .b-audit h3 {
    text-align: center;
    font-size: 32px;
  }

  .b-audit-form {
    margin-top: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .b-audit-form__input {
      width: 32%;
      height: 45px;
      padding: 0 10px 0 15px;
      background-color: #fff;
      outline: none;
      border: none;
      border-radius: 5px;
    }

    .b-audit-form__submit {
      width: 32%;
      height: 45px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
      color: #333;
      background-color: #ffa81c;
      font-weight: bold;
      letter-spacing: 0.5px;
    }

    .b-audit-form__submit:hover {
      color: #ffa81c;
      background-color: #333;
    }

  .b-audit-privacy {
    margin-top: 35px;
    padding: 0 20%;
    text-align: center;
  }

    .b-audit-privacy a {
      color: #fff;
    }

      .b-audit-privacy a:hover {
        text-decoration: none;
      }

/*====================================
            text-column
====================================*/
.b-text-column {
  padding: 40px 0;
}

  .b-text-column h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .text-column {
    margin-top: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .text-column_item-2 {
      width: 48%;
      text-align: center;
    }

    .text-column_item-3 {
      width: 30%;
      text-align: center;
    }

    .text-column_item-4 {
      width: 24%;
      text-align: center;
    }

    .text-column__img {
      min-height: 150px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }

      .text-column__img img {
        max-height: 100%;
        width: auto;
      }

    .text-column__name {
      font-weight: bold;
      font-size: 22px;
    }

    .text-column__description {
      margin-top: 15px;
    }

/*====================================
            b-dynamic-list
====================================*/
.b-dynamic-list {
  padding: 40px 0;
}

  .b-dynamic-list h3 {
    font-size: 30px;
    font-weight: bold;
  }

  .dynamic-list-wrapper {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .dynamic-list-tabs {
      width: 50%;
    }

      .dynamic-list-tabs__item {
        position: relative;
        padding: 25px 10px 25px 60px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #e4e4e4;
        cursor: pointer;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
      }

      .dynamic-list-tabs__item:before {
        content: "\2714";
        position: absolute;
        left: 10px;
        top: 25px;
        height: 30px;
        width: 30px;
        border: 2px solid #ffa81c;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        font-size: 20px;
        font-weight: bold;
      }

      .dynamic-list-tabs__item:hover {
        background-color: #f9f9f9;
      }

        .dynamic-list-tabs__name {
          font-size: 24px;
          font-weight: bold;
        }

        .dynamic-list-tabs__description {
          margin: 10px 0 0 0;
        }

      .dynamic-list-tabs__item_active {
        background-color: #192d3c;
        cursor: default;
        color: #fff;
      }

      .dynamic-list-tabs__item_active:hover {
        background-color: #192d3c;
      }

        .dynamic-list-tabs__item_active:before {
          color: #fff;
        }

    .dynamic-list-content {
      width: 50%;
    }

      .dynamic-list-content__item {
        display: none;
        padding: 10px 1% 20px 5%;
      }

      .dynamic-list-content__item_active {
        display: block;
      }

        .dynamic-list-content__header {
          font-size: 26px;
        }

      .b-dynamic-lider {}

        .b-dynamic-lider-slider {
          margin-top: 30px;
          position: relative;
        }

          .b-dynamic-lider-slider__item {
            padding: 0 2%;
          }

          .b-dynamic-lider-slider__img {
            min-height: 170px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
          }

          .b-dynamic-lider-slider__result {
            font-size: 24px;
            font-weight: bold;
          }

          .b-dynamic-lider-slider__text {
            margin-top: 5px;
            font-size: 16px;
          }

          .b-dynamic-lider-slider .slick-dots {
            margin-top: 10px;
            left: 0;
            width: 100%;
            text-align: center;
          }

            .b-dynamic-lider-slider .slick-dots li {
              margin: 0 7px;
              display: inline-block;
              vertical-align: top;
            }

            .b-dynamic-lider-slider button {
              width: 10px;
              height: 10px;
              padding: 0;
              border-radius: 50%;
              border: none;
              font-size: 0;
              cursor: pointer;
              -webkit-transition: all .3s ease-out;
              -o-transition: all .3s ease-out;
              transition: all .3s ease-out;
              background-color: #d6d6d6;
              outline: none;
            }

            .b-dynamic-lider-slider button:hover {
              background-color: #869791;
            }

            .b-dynamic-lider-slider .slick-dots li.slick-active button {
              background-color: #869791;
            }

        .b-dynamic-lider-text {
          margin-top: 40px;
        }

      .b-dynamic-result {}

        .b-dynamic-result-list {
          margin-top: 25px;
        }

          .b-dynamic-result-list__item {
            position: relative;
            margin-bottom: 25px;
            padding-left: 30px;
          }

          .b-dynamic-result-list__item:last-child {
            margin-bottom: 0;
          }

            .b-dynamic-result-list__number {
              position: absolute;
              left: 0;
              top: -30px;
              font-size: 60px; 
              font-weight: bold;
              color: #ffa81c;
            }

            .b-dynamic-result-list__name {
              font-size: 22px;
              font-weight: bold;
              position: relative;
              z-index: 1;
            }

            .b-dynamic-result-list__text {
              margin-top: 10px;
              font-size: 16px;
              position: relative;
              z-index: 1;
            }

      .b-dynamic-benefits {}

        .b-dynamic-benefits-list {
          margin-top: 25px;
          padding-left: 4%;
        }

          .b-dynamic-benefits-list__item {
            margin-bottom: 25px;
          }

          .b-dynamic-benefits-list__item:last-child {
            margin-bottom: 0;
          }

          .b-dynamic-benefits-list__number {
            float: left;
            position: relative;
            margin: -3px 10px -3px 0;
            font-weight: bold;
            font-size: 22px;
          }

          .b-dynamic-benefits-list__number:after {
            content: '';
            display: block;
            position: absolute;
            left: -3px;
            top: 1px;
            height: 100%;
            width: 100%;
            padding: 1px 0px 1px 6px;
            background-color: #ffa81c;
            z-index: -1;
            -webkit-transform: rotate(-4deg) skew(-10deg);
            -ms-transform: rotate(-4deg) skew(-10deg);
            transform: rotate(-4deg) skew(-10deg);
          }

          .b-dynamic-benefits-list__text {
            font-size: 18px;
          }

      .b-dynamic-technology {}

        .b-dynamic-technology-accordion {
          margin-top: 15px;
          padding-left: 5%;
        }

          .b-dynamic-technology-accordion__item {
            margin-bottom: 20px;
            border-bottom: 1px solid #e4e4e4;
          }

          .b-dynamic-technology-accordion__item:last-child {
            margin-bottom: 0;
            border-bottom: none;
          }

          .b-dynamic-technology-accordion__item-header {
            position: relative;
            padding: 1px 10px 13px 65px;
            cursor: pointer;
          }

          .b-dynamic-technology-accordion__item-header:after {
            content: "\203A";
            position: absolute;
            top: 50%;
            right: 20px;
            font-size: 40px;
            line-height: 0;
            -webkit-transition: all .1s ease-out;
            -o-transition: all .1s ease-out;
            transition: all .1s ease-out;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }

          .b-dynamic-technology-accordion__item-header_active:after {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
          }

            .b-dynamic-technology-accordion__num {
              position: absolute;
              left: 0;
              top: 1px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              text-align: center;
              background-color: #f0f0f0;
              font-size: 22px;
              line-height: 40px;
            }

            .b-dynamic-technology-accordion__name {
              text-transform: uppercase;
              font-size: 22px;
            }

            .b-dynamic-technology-accordion__description {
              font-size: 14px;
            }

            .b-dynamic-technology-accordion__content {
              height: 0;
              margin-top: 5px;
              padding-left: 65px;
              visibility: hidden;
            }

              .b-dynamic-technology-accordion__content p {
                margin: 0 0 10px 0;
              }

              .b-dynamic-technology-accordion__content ul {}

                .b-dynamic-technology-accordion__content ul li {
                  margin-bottom: 10px;
                  padding-left: 15px;
                  position: relative;
                }

                .b-dynamic-technology-accordion__content ul li:before {
                  content: "\2022";
                  position: absolute;
                  left: 0;
                  top: 8px;
                  color: #81ba3c;
                  font-size: 24px;
                  line-height: 0;
                }

            .b-dynamic-technology-accordion__content_active {
              height: auto;
              visibility: visible;
            }

            .b-dynamic-technology-accordion__description_none {
              display: none;
            }

/*====================================
            b-dynamic-list
====================================*/
.b-steps {
  padding: 40px 0;
}

  .b-steps h3 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }

  .b-steps-list {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

    .b-steps-list__item {
      width: 30%;
      margin: 0 2% 50px 0;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .b-steps-list__item:after {
      content: '';
      position: absolute;
      top: 50%;
      right: -3%;
      width: 60px;
      height: 13px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-image: url(../img/icon-do-it-arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .b-steps-list__item:last-child:after {
      content: none;
    }

    .b-steps-list__item:nth-child(3n) {
      margin-right: 0;
    }

      .b-steps-list__item:nth-child(3n):after {
        background-image: url(../img/icon-do-it-rearrow.svg);
        height: 25px;
        top: 60%;
        right: -9%;
      }

    .b-steps-list__item:nth-child(6n+4) {
      margin-left: 5%;
    }

      .b-steps-list__item:nth-child(6n+4):before {
        content: '';
        position: absolute;
        top: 60%;
        left: -90px;
        width: 60px;
        height: 25px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-image: url(../img/icon-do-it-rearrow2.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      .b-steps-list__img {
        width: 35%;
      }

      .b-steps-list__content {
        width: 58%;
        position: relative;
        padding-right: 15%;
      }

        .b-steps-list__number {
          position: absolute;
          left: -15px;
          top: -15px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #ffa81c;
          color: #fff;
          font-weight: bold;
          text-align: center;
          font-size: 16px;
          line-height: 25px;
        }

        .b-steps-list__name {
          font-size: 18px;
          font-weight: bold;
        }

/*====================================
            b-promotion
====================================*/
.b-promotion {
  padding: 40px 0;
  background-color: #f2f2f2;
}

  .b-promotion h3 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }

  .b-promotion-list {
    margin-top: 40px;
    position: relative;
    padding-top: 30px;
  }

  .b-promotion-list:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 8%;
    border-right: 2px dashed #ffa81c;
  }

    .b-promotion-list__line {
      margin-bottom: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    .b-promotion-list__item {
      width: 48%;
    }

    .b-promotion-steps {
      position: relative;
    }

    .b-promotion-steps:after {
      content: '';
      display: block;
      position: absolute;
      top: 27%;
      right: -33px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffa81c;
      z-index: 1;
    }

    .b-promotion-steps:before {
      content: '';
      position: absolute;
      right: -10px;
      top: 27%;
      border-top: 10px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 10px solid transparent;
    }

      .b-promotion-steps__head {
        padding: 10px 10px 10px 50px;
        background-color: #ffa81c;
        border-radius: 15px 15px 0 0;
        font-size: 20px;
        font-weight: bold;
      }

      .b-promotion-steps__content {
        padding: 15px 3% 15px 5%;
        position: relative;
        min-height: 200px;
        background-color: #fff;
        border-radius: 0 0 15px 15px;
      }

        .b-promotion-steps__content ul li {
          margin-bottom: 7px;
        }

    .b-promotion-time {
      position: relative;
      padding: 7% 1% 1% 2%;
      text-transform: uppercase;
      font-size: 20px;
      color: #333;
    }

  .b-promotion-list__line_correct {}

    .b-promotion-list__line_correct .b-promotion-steps {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }

    .b-promotion-list__line_correct .b-promotion-steps:after {
      right: auto;
      left: -33px;
    }

    .b-promotion-list__line_correct .b-promotion-steps:before {
      right: auto;
      left: -10px;
      border-top: 10px solid transparent;
      border-right: 10px solid #fff;
      border-bottom: 10px solid transparent;
      border-left: none;
    }

    .b-promotion-list__line_correct .b-promotion-time {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      text-align: right;
      padding: 7% 2% 1% 1%;
    }

/*====================================
            servises-order
====================================*/
.b-servises-order {
  padding: 40px 0;
  background-color: #f6f6f6;
}

  .b-servises-order__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .b-servises-order__content {
      width: 70%;
      padding: 30px 3% 20px 5%;
      background-color: #fff;
    }
      
      .b-servises-order__content h3 {
        font-size: 22px;
        font-weight: bold;
      }

      .b-servises-order__text {
        margin-top: 30px;
      }

    .b-servises-order__form {
      width: 30%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 30px 2%;
      background-color: #ffa81c;
      color: #333;
      text-align: center;
    }

      .b-servises-order__form-header {
        text-transform: uppercase;
        font-size: 22px;
      }

      .b-servises-order__form-intro {
        margin-top: 20px;
      }

      .b-servises-order__form-link {
        margin-top: 30px;
        display: inline-block;
        padding: 10px 40px;
        color: #333;
        border: 2px solid #333;
        text-decoration: none;
      }

      .b-servises-order__form-link:hover {
        background-color: #333;
        color: #ffa81c;
      }

/*====================================
            b-servises-item
====================================*/
.b-servises-item {
  padding: 40px 0;
  background-color: #f6f6f6;
}

  .b-servises-item__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .b-servises-item__content {
      width: 65.5%;
      position: relative;
      padding: 30px 3% 20px 5%;
      background-color: #fff;
    }

      .b-servises-item__content h3 {
        font-size: 22px;
        font-weight: bold;
      }

      .b-servises-item__content p {
        margin: 30px 0 0;
      }

      .b-servises-item__link {
        position: absolute;
        bottom: 30px;
        left: 7%;
        padding-left: 55px;
        text-decoration: none;
        color: #333;
        font-size: 20px;
      }

        .b-servises-item__link:before {
          content: '';
          position: absolute;
          display: inline-block;
          left: 0;
          top: -10px;
          width: 48px;
          height: 48px;
          background-image: url(../img/base64.png);
          background-repeat: no-repeat;
        }

      .b-servises-item__link:hover {
        opacity: .8;
      }

    .b-servises-item__img {
      width: 34.5%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }

/*====================================
            media
====================================*/
@media screen and (max-width: 1220px) {

  section {
    min-width: 100%;
  }

  .container {
    width: 750px;
    padding: 0 10px;
  }

  .b-request {
    min-height: auto;
    padding: 40px 0;
  }

  .b-request:after {
    content: none;
    display: none;
  }

    .b-request__inner {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

  .b-intro-text {
    padding: 40px 0;
  }

    .b-intro-text__img {
      width: 35%;
    }

    .b-intro-text__content {
      width: 65%;
    }

  .b-servises-tabs__wrapper {
    width: 65%;
  }

  .b-servises-tabs__nav {
    padding-left: 3px;
  }

  .b-section h3 {
    font-size: 26px;
  }

  .b-audit-privacy {
    padding: 0 10%;
  }

  .dynamic-list-tabs__name {
    font-size: 20px;
  }

  .dynamic-list-tabs__description {
    font-size: 14px;
  }

  .dynamic-list-content__header {
    font-size: 20px;
  }

  .b-dynamic-result-list__name {
    font-size: 20px;
  }

  .b-dynamic-result-list__number {
    font-size: 40px;
    top: -15px;
  }

  .b-dynamic-result-list__text {
    font-size: 14px;
  }

  .b-dynamic-technology-accordion {
    padding-left: 0;
  }

  .b-dynamic-benefits-list__text {
    font-size: 14px;
  }

  .b-dynamic-technology-accordion__content {
    font-size: 14px;
  }

  .b-steps-list__item:after {
    width: 40px;
    height: 10px;
  }

  .b-steps-list__item:nth-child(6n+4):before {
    left: -40px;
    width: 40px;
    height: 15px;
  }

  .b-servises-order__content {
    width: 60%;
  }

  .b-servises-order__form {
    width: 40%;
  }

  .b-promotion-list__item {
    width: 47%;
  }

  .b-servises-item__content {
    width: 100%;
  }

  .b-servises-item__link {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    left: auto;
    bottom: auto;
  }

  .b-servises-item__img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  
  .container {
      width: 100%;
  }

  .b-section h3 {
    font-size: 22px;
  }

  .b-servises-item__content {
    width: 100%;
  }

  .request-form__submit {
    width: 100%;
  }

  .b-intro-text__img {
    width: 100%;
  }

  .b-intro-text__content {
    width: 100%;
  }

  .economy-list__column {
    width: 100%;
  }

  .economy-list__column_img {
    margin-top: 30px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .economy-list__column {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .b-servises-tabs__nav {
    width: 100%;
    margin-top: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .b-servises-tabs__wrapper {
    margin-top: 20px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

    .b-servises-tabs__box-content {
      margin-top: 10px;
    }

  .b-audit {
    height: auto;
    padding: 40px 0;
    background-size: cover;
  }

  .b-audit-form__input {
    width: 100%;
    margin-bottom: 20px;
  }

  .b-audit-form__submit {
    width: 100%;
  }

  .b-audit-privacy {
    padding: 0 3%;
  }

  .text-column_item-2 {
    width: 100%;
  }

  .text-column_item-3 {
    width: 100%;
  }

  .text-column_item-4 {
    width: 100%;
  }

  .dynamic-list-tabs {
    width: 100%;
  }

    .dynamic-list-tabs__item {
      padding: 10px 10px 10px 60px;
    }

    .dynamic-list-tabs__name {
      font-size: 18px;
    }

    .dynamic-list-tabs__description {
      font-size: 12px;
    }

  .dynamic-list-content {
    width: 100%;
  }

  .dynamic-list-content__item {
    padding: 10px 1% 10px;
  }

    .b-dynamic-lider-slider {
      margin-top: 0;
    }

    .b-dynamic-lider-slider__img {
      min-height: 135px;
    }

    .b-dynamic-lider-slider__result {
      font-size: 20px;
    }

    .b-dynamic-lider-text {
      margin-top: 20px;
    }

    .b-dynamic-technology-accordion__item-header {
      padding: 1px 10px 13px 50px;
    }

    .b-dynamic-technology-accordion__item-header:after {
      top: 0;
      right: 0;
    }

  .b-steps-list__item:nth-child(6n+4) {
    margin: 0;
  }

  .b-steps-list__item:nth-child(6n+4):before {
    content: none;
  }

  .b-steps-list__item:after,
  .b-steps-list__item:before {
    content: none;
  }

  .b-steps-list__item {
    width: 100%;
    margin: 0 0 30px 0 !important;
  }

  .b-steps-list__img {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .b-steps-list__content {
    width: 100%;
    text-align: center;
  }

  .b-steps-list__number {
    position: relative;
    display: inline-block;
    left: auto;
    top: auto;
  }

  .b-steps-list__name {
    display: inline-block;
  }

  .b-promotion-list:after {
    content: none;
  }

  .b-promotion-list__item {
    width: 100%;
  }

  .b-promotion-time {
    display: none;
  }

  .b-promotion-steps:after,
  .b-promotion-steps:before {
    content: none;
  }

  .b-servises-order__content {
    width: 100%;
  }

  .b-servises-order__form {
    width: 100%;
  }

  .b-servises-order__form-link {
    padding: 10px 0;
    width: 90%;
  }
}


/*====================================
            menu fixed
====================================*/
.slicknav_menu {
  position: fixed;
  z-index: 1;
}

  .slicknav_menu + .wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0 5px;
  }

  .slicknav_nav {
    position: absolute;
    top: 60px;
    width: 100%;
    padding-right: 3%;
  }

  .logo {
    float: left;
    width: 25%;
  }

  .header-contact {
    float: left;
    position: relative;
    z-index: 2;
  }

  .block-zv {
    position: relative;
    z-index: 12;
  }