
@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('../font/MyriadPro-Regular.eot');
	src: local('☺'), url('../font/MyriadPro-Regular.woff') format('woff'), 
		url('../font/MyriadPro-Regular.ttf') format('truetype'), 
		url('../font/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../font/myriadprobold0.eot');
    src: url('../font/myriadprobold0.eot') format('embedded-opentype'),
         url('../font/myriadprobold0.woff') format('woff'),
         url('../font/myriadprobold0.ttf') format('truetype'),
         url('../font/myriadprobold0.svg#MyriadProBold') format('svg');
}

@font-face {
    font-family: 'calibri';
    src: url('../font/calibri.eot');
    src: url('../font/calibri.eot') format('embedded-opentype'),
         url('../font/calibri.woff2') format('woff2'),
         url('../font/calibri.woff') format('woff'),
         url('../font/calibri.ttf') format('truetype'),
         url('../font/calibri.svg#calibri') format('svg');
}

@font-face {
	font-family: 'Conv_CalibriL';
	src: url('../font/CalibriL.eot');
	src: local('☺'), url('../font/CalibriL.woff') format('woff'), 
	url('../font/CalibriL.ttf') format('truetype'), 
	url('../font/CalibriL.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'CalibriBold';
    src: url('../font/calibrib.eot');
    src: url('../font/calibrib.eot') format('embedded-opentype'),
         url('../font/calibrib.woff') format('woff'),
         url('../font/calibrib.ttf') format('truetype'),
         url('../font/calibrib.svg#CalibriBold') format('svg');
}

@font-face {
	font-family: 'Conv_georgia-bold';
	src: url('../font/georgia-bold.eot');
	src: local('☺'), url('../font/georgia-bold.woff') format('woff'), 
	url('../font/georgia-bold.ttf') format('truetype'),
	 url('../font/georgia-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Conv_CalibriL';
	line-height: 1.4;
}

*{
	box-sizing: border-box;
}

.container{
	margin: 0 auto;
	width: 1155px;
}

ul{
	padding: 0;
	list-style-type: none;
}

.container:after, ul:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/*====================================
              section
====================================*/

section{
	min-width: 1155px;
}

/*====================================
              wrapper-header
====================================*/
.wrapper-header{
	background: url(../img/img-bg-header.jpg) center top no-repeat;
	height: 489px;
	padding-top: 56px;
}

	.block-sale{
		color: #fff;
		width: 42.8%;
		margin: 0 auto;
		padding: 29px 0 0;
	}

		.block-sale-header{
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			font-size: 27px;
			font-weight: 100;
			line-height: 1.1;
		}

			.block-sale-header>span{
				display: block;
				text-transform: none;
			}

		.block-sale-size{
			margin-top: 63px;
			text-transform: uppercase;
			padding-left: 10%;
		}

			.block-sale-size span{
				font-size: 27px;
				font-family: 'CalibriBold';
			}

		.block-sale-description{
			font-size: 22px;
			text-align: center;
			margin-top: 73px;
			line-height: 1.1;
			padding: 0 2%;
		}

		.block-sale-date{
			font-size: 24px;
			text-align: center;
			margin-top: 21px;
		}

/*====================================
              wrapper-content
====================================*/
.wrapper-content{
	background: #f1f1f1;
	padding: 60px 0 147px;
}

	.align-justify{
		text-align: justify;
		line-height: 0;
		font-size: 1px;
	}

		.align-justify:after{
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
			visibility: hidden;
		}

		.align-justify>*{
			display: inline-block;
			vertical-align: top;
			line-height: normal;
		}

	.list-courses{
		padding-left: 0.2%;
	}

		.list-courses>li{
			width: 32.3%;
			background: #fff;
			border: 1px solid #e3e3e3;
			border-bottom: 2px solid #e3e3e3;
			border-radius: 5px;
			overflow: hidden;
			margin-bottom: 16px;
		}

			.courses-link-action{
				position: relative;
				height: 227px;
				padding-top: 10px;
			}

			.courses-link-action:after{
				content: '';
				display: block;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				position: absolute;
				z-index: 1;
			}

				.action-date{
					color: #fff;
					position: absolute;
					top: 12px;
					left: 12px;
					z-index: 2;
				}

					.action-date-number{
						text-align: center;
						font-size: 33px;
						font-family: 'Conv_georgia-bold';
						display: inline-block;
						vertical-align: top;
						background: #0074dd;
						line-height: 1;
						height: 56px;
						width: 60px;
						border-radius: 3px;
						padding-top: 2%;
					}

						.action-date-number>span{
							display: block;
							font-size: 14px;
							font-family: 'Conv_MyriadPro-Regular';
						}

					.action-date-text{
						font-size: 14px;
						font-family: 'Conv_MyriadPro-Regular';
						display: inline-block;
						vertical-align: top;
						margin-left: 3px;
						background: #0074dd;
						height: 56px;
						width: 70px;
						text-align: center;
						padding-top: 10%;
						border-radius: 3px;
					}

				.active-courses .courses-link-action:after{
					content: none;
					display: none;
				}

				.active-courses .action-date-text{
					display: none;
				}

				a.link-readmore-img{
					width: 100%;
					display: block;
					background-size: contain;
				}

				.image-makers-school{
					background: url(../img/img-makers-school.png) no-repeat;
					height: 217px;
				}

				.customers-turn{
					background: url(../img/img-customers-turn.png) no-repeat;
					height: 216px;
				}

					.active-courses .customers-turn{
						background: url(../img/img-customers-turn-act.png) no-repeat;
					}

				.secrets-first-meeting{
					background: url(../img/img-secrets-first-meeting.png) no-repeat;
					height: 205px;
				}

					.active-courses .secrets-first-meeting{
						background: url(../img/img-secrets-first-meeting-act.png) no-repeat;
					}

				.dream-team{
					background: url(../img/img-dream-team.png) no-repeat;
					height: 213px;
				}

					.active-courses .dream-team{
						background: url(../img/img-dream-team-act.png) no-repeat;
					}

				.system-personal-effectiveness{
					background: url(../img/img-system-personal-effectiveness.png) no-repeat;
					height: 212px;
				}

					.active-courses .system-personal-effectiveness{
						background: url(../img/img-system-personal-effectiveness-act.png) no-repeat;
					}

				.five-ways{
					background: url(../img/img-five-ways.png) no-repeat;
					height: 212px;
				}

					.active-courses .five-ways{
						background: url(../img/img-five-ways-act.png) no-repeat;
					}

				.link-readmore{
					font-size: 16px;
					color: #de4354;
					position: absolute;
					bottom: 9px;
					right: 20px;
					display: none;
					letter-spacing: 0.4px;
				}

				.link-readmore:hover{
					text-decoration: none;
				}

				.active-courses .link-readmore{
					display: block;
				}

			.courses-description{
				border-top: 1px solid #e3e3e3;
			    padding: 28px 1% 21px 0;
			    text-align: left;
			}

				.courses-description-name{
					margin: 0;
					font-size: 22px;
					font-family: 'calibri';
					color: #000;
					letter-spacing: 0.3px;
					margin-left: 4.1%;
				}

				.courses-description-text{
					display: block;
					font-size: 19px;
					margin-top: 7px;
					margin-left: 4.1%;
				}

				.courses-description-info-buy{
					overflow: hidden;
					border-top: 1px solid #e3e3e3;
					margin-top: 14px;
					padding: 17px 4.4% 0 4.5%;
				}

					.wrapper-price{
						float: left;
					}

						.old-price{
							font-size: 16px;
							display: block;
						}

						.acting-price{
							font-size: 20px;
							font-family: 'CalibriBold';
							display: block;
						}

						.tomorrow-price{
							font-size: 16px;
							margin-top: 3px;
						}

							.tomorrow-price span{
								color: #de4354;
							}

				.wrapper-info-buy{
					float: right;
					text-align: right;
				}

					.link-buy{
						color: #fefefe;
						font-size: 18px;
						font-family: 'Conv_MyriadPro-Regular';
						background: #0074dd;
						display: inline-block;
						padding: 10px 17px;
						text-decoration: none;
						border-radius: 3px;
					}

					.link-buy:hover{
						opacity: .8;
					}

					.info-quantity{
						display: block;
						font-size: 16px;
						color: #2a2f63;
						margin: 10px 3px 0 0;
						letter-spacing: 0.3px;
						font-weight: 600;
					}

	.courses-set-sale{
		margin-top: 12px;
		background: #fff;
		border: 1px solid #e3e3e3;
		border-radius: 5px;
	}

	.courses-set-sale:after{
		content: '';
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}

		.courses-set-sale-img{
			float: left;
			width: 32.4%;
		}

			.courses-set-sale-img img{
				margin: -11px 0 0 -15px;
			}

		.courses-set-sale-description{
			float: left;
			width: 67.6%;
			padding: 16px 0 28px 3%;
		}

			.set-sale-description-header{
				margin: 0;
				font-size: 40px;
				font-family: 'calibri';
				letter-spacing: 0.7px;
			}

			.set-sale-description-subheader{
				display: block;
				font-size: 19px;
			}

			.courses-set-sale-description .courses-description-info-buy{
				border-top: 1px solid #e3e3e3;
				margin-top: 12px;
				padding: 14px 5% 0 0;
			}

			.courses-set-sale-description .old-price{
				font-size: 36px;
				line-height: 1;
			}

			.courses-set-sale-description .acting-price{
				font-size: 60px;
				font-family: 'CalibriBold';
				margin-top: 10px;
				line-height: 0.6;
			}

			.courses-set-sale-description .tomorrow-price{
				font-size: 36px;
				line-height: 1;
				margin-top: 21px;
			}

			.courses-set-sale-description .link-buy{
				font-size: 27px;
				background: #ea162c;
				margin-top: 74px;
				padding: 11px 27px 16px;
			}

/*====================================
              wrapper-footer
====================================*/
.wrapper-footer{
	color: #272727;
	font-size: 16px;
	padding: 44px 0 30px;
}

	.footer-technical-questions{
		padding-left: 4px;
		margin-bottom: 82px;
		font-size: 24px;
	}

	.wrapper{
		overflow: hidden;
	}

		.wrapper-footer .wrapper>img{
			float: left;
		}

		.block-copyright-info{
			float: left;
			margin: 10px 0 0 6.3%;
			line-height: 1.25;
		}

		.block-footer-contact{
			float: right;
			margin: 10px 0.8% 0 0;
			line-height: 1.25;
		}

			.block-footer-contact a{
				color: #272727;
			}

			.block-footer-contact>a:hover{
				text-decoration: none;
			}

			.footer-contact-item{}

				.footer-contact-item>a{
					text-decoration: none;
				}

				.footer-contact-item>a:hover{
					text-decoration: underline;
				}

/*====================================
              media
====================================*/

@media (min-width: 768px) and (max-width: 1172px) {

	.container{
		width: 750px;
	}

	section{
		min-width:750px;
	}

	.block-sale{
		width: 65.8%;
	}

	.wrapper-content{
		padding: 60px 0;
	}

		.list-courses>li{
			width: 49%;
			min-height: 515px;
		}

		.courses-set-sale-img{
			width: 40%;
		}

			.courses-set-sale-img img{
				margin: -20px 0 0 -11px;
				max-width: 100%;
			}

		.courses-set-sale-description{
			width: 60%;
		    padding: 10px 0 28px 1%;
		}

			.set-sale-description-header{
				font-size: 30px;
				letter-spacing: 0.1px;
			}

			.courses-set-sale-description .courses-description-info-buy{
				padding: 14px 1% 0 0;
			}

				.courses-set-sale-description .old-price{
					font-size: 30px;
				}

				.courses-set-sale-description .acting-price{
					font-size: 42px;
				}

				.courses-set-sale-description .tomorrow-price{
					font-size: 26px;
				}

				.courses-set-sale-description .link-buy{
					font-size: 19px;
					padding: 10px 18px;
					margin-top: 63px;
				}

	.wrapper-footer{
		padding: 30px 0;
		text-align: center;
	}

		.footer-technical-questions{
			margin-bottom: 60px;
		}

		.wrapper-footer .wrapper>img{
			float: none;
		}

		.block-copyright-info{
			float: none;
			margin: 20px 0 0 0;
		}

		.block-footer-contact{
			float: none;
			margin: 15px 0 0 0;
		}

}

@media screen and (max-width:320px), screen and (max-width:767px) {

	.container{
		width: 300px;
	}
	
	section{
		min-width:300px;
		max-width: 300px;
		margin: 0 auto;
	}

	.wrapper-header{
		background-size: 300% 85%;
	}

	.block-sale{
		width: 100%;
		padding: 7px 0 0;
	}

		.block-sale-header{
			font-size: 22px;
		}

		.block-sale-header>span{
			font-size: 20px;
		}

		.block-sale-size{
			margin-top: 44px;
			padding-left: 5%;
		}

			.block-sale-size span{
				font-size: 20px;
			}

		.block-sale-description{
			font-size: 16px;
			margin-top: 55px;
			padding: 0 3%;
		}

		.block-sale-date{
			font-size: 14px;
			margin-top: 10px;
		}

	.wrapper-content{
		padding: 30px 0;
		margin-top: -75px;
	}

		.list-courses>li{
			width: 100%;
		}

		.courses-set-sale-img{
			width: 100%;
		}

			.courses-set-sale-img img{
				margin: -20px 0 0 -11px;
				max-width: 100%;
			}

		.wrapper-info-buy{
			float: left;
			text-align: left;
			margin-top: 20px;
		}

		.courses-set-sale-description{
			width: 100%;
		    padding: 10px 3% 28px 3%;
		}

			.set-sale-description-header{
				font-size: 30px;
				letter-spacing: 0.1px;
			}

			.courses-set-sale-description .courses-description-info-buy{
				padding: 14px 1% 0 0;
			}

				.courses-set-sale-description .old-price{
					font-size: 30px;
				}

				.courses-set-sale-description .acting-price{
					font-size: 42px;
				}

				.courses-set-sale-description .tomorrow-price{
					font-size: 26px;
				}

				.courses-set-sale-description .link-buy{
					font-size: 19px;
					padding: 10px 18px;
					margin-top: 10px;
				}

	.wrapper-footer{
		padding: 30px 0;
		text-align: center;
		font-size: 16px;
	}

		.footer-technical-questions{
			margin-bottom: 40px;
			font-size: 18px;
		}

		.wrapper-footer .wrapper>img{
			float: none;
			max-width: 90%;
		}

		.block-copyright-info{
			float: none;
			margin: 20px 0 0 0;
		}

		.block-footer-contact{
			float: none;
			margin: 15px 0 0 0;
		}

}